<% provide(:title, "Home") %>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://www.chronicart.com/wp-content/uploads/2016/01/bibli.jpg');">
  <div class="banner-content">
    <h1>Welcome to Books</h1>
    <p>Very cool stuff, useful and smart</p>
    <%= link_to "Sign up now!", signup_path, class: "btn-medium" %>
  </div>
</div>

